<div>
    <div class="table-responsive text-white">
      <table class="table text-white align-middle">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Nationality</th>
            <th scope="col">Birth Date</th>
            <th class="text-center" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (item of itemList; track $index) {
            <tr>
              <td>{{item.name + ' '+item.lastname}}</td>
              <td>{{item.nationality}}</td>
              <td>{{ item.birth | date: 'dd/MM/yyyy' }}</td>
              <td class="text-center">
                <button 
                  type="button" 
                  (click)="showDetailModal(item, detailModal)"
                  class="btn text-white">
                  <i class="fa-regular fa-pen-to-square"
                  ></i>
                </button>
                <button 
                  type="button"
                  (click)="deleteActor(item);" 
                  class="btn text-danger">
                  <i class="fa-regular fa-trash-can"
                  ></i>
                </button>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="6" class="text-center">There are not items to show</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  
  <app-modal #detailModal>
    <app-actor-form
      [actor]="selectedItem"
      [action]="'Update actor'"
      (callParentEvent)="handleFormAction($event, detailModal)"
      (closeMedal)="detailModal.hide()"
    ></app-actor-form>
  </app-modal>
