.form-container{
    padding: 25px;
    border-radius: 8px;
    color: #fff;

    input{
        margin-top: 10px;
    }

    button{
        background-color: #7900C2;
        border: #7900C2;
        margin-top: 15px;
    }
}

.update-info{
    padding-left: 25px;
}

h3{
    margin-top: 10px;
    color: black;
}

  