.login-main {
    background-color: rgba(97, 0, 194, 0.4); /* Color morado con transparencia */
    border-radius: 2%; /* Mantiene el borde redondeado */
    padding: 5rem; /* Mantiene el padding */
  }

.login-container {
    background-image: url("../../../../assets/icons/wallpaper.png"), radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(97,0,194,0.35) 100%);
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Ajusta la altura del contenedor */
    display: flex; /* Alinea el contenido centrado */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}