<div class="login-container h-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="login-card">
            <div class="w-100">
                <div class="mb-2 d-flex align-items-center justify-content-center">
                    <img class="mx-1" src="../../../../assets/icons/coffee.png">
                    <h2 class="m-0" style="color: #fff;">STREAMINGO</h2>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <h4 style="color: #fff;">Enjoy the newest movies</h4>
                </div>
                <div class="login-main bg-purple p-5" style="border-radius: 2%;">
                    <form (ngSubmit)="handleResetPassword($event)" autocomplete="off" #frm="ngForm">

                        <div class="form-group mb-4">
                            <label for="password" class="form-label mb-2">New Password</label>
                            <div class="form-input position-relative">
                                <input #password="ngModel" type="password" class="form-control" id="password"
                                    name="password" placeholder="*****" [(ngModel)]="resetForm.password" 
                                    [ngClass]="{
                                        'is-invalid': password.invalid && password.touched,
                                        'is-valid': password.valid && password.touched
                                    }" 
                                    minlength="8" maxlength="50"
                                    pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,12}$"
                                    required />
                                <div *ngIf="password.invalid" class="invalid-feedback">
                                    Please add a valid password
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="passwordConfirm" class="form-label mb-2">Repeat Password</label>
                            <div class="form-input position-relative">
                                <input #passwordConfirm="ngModel" type="password" class="form-control"
                                    id="passwordConfirm" name="passwordConfirm" placeholder="*****"
                                    [(ngModel)]="resetForm.passwordConfirm" [ngClass]="{
                                        'is-invalid': passwordConfirm.invalid && passwordConfirm.touched,
                                        'is-valid': passwordConfirm.valid && passwordConfirm.touched
                                    }" 
                                    minlength="8" maxlength="50"
                                    pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,12}$"
                                    required />
                            </div>
                        </div>

                        <div class="form-group mb-2">
                            <button class="btn btn-light btn-block w-100" type="submit">
                                Update Password
                            </button>
                            @if(resetError) {
                            <p class="text-danger">{{resetError}}</p>
                            }
                        </div>
                        <div class="text-center">
                            <a style="color: #fff;" href="https://streamingo2024.github.io/index.html">Code&Go</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>