<div class="container-fluid text-white">
    <div>
      <h2>Actors</h2>
    </div>
    <div>
      @defer {
        <div class="d-flex justify-content-end pb-2">
          <button
            (click)="addModal.show()" 
            type="button" 
            class="btn bg-purple d-flex align-items-center">
            <i class="fa-solid fa-plus white"></i>
            <p class="mb-0"> Add actor</p>
          </button>
        </div>
        <app-actor-list
        [areActionsAvailable]="areActionsAvailable"
        [itemList]="actorService.items$()"
        />
      } @loading (after 100ms; minimum 1s){
        <app-loader></app-loader>
      }
    </div>
  </div>
  
  <app-modal #addModal>
    <app-actor-form
      [action]="'Add actor'"
      (callParentEvent)="handleFormAction($event)" 
    />
  </app-modal>