<div class="form-container">
    <div class="password-title">
        <h1>Update password</h1>
    </div>

    <div class="new-password-text">
        <h3>Set your new password</h3>
    </div>

    <div class="input-container">

        <input 
            #password="ngModel" 
            type="password" 
            class="form-control" 
            id="password" 
            name="password"
            placeholder="Enter your password" 
            [(ngModel)]="user.password"
            [ngClass]="{'is-invalid': password.invalid && password.touched, 'is-valid': password.valid && password.touched}"
            minlength="8" 
            maxlength="50"
            pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,12}$"
            required 
        />

        <input 
        #passwordConfirmation="ngModel" 
        type="password" 
        class="form-control" 
        id="passwordConfirmation"
        name="passwordConfirmation"
        placeholder="Confirm password" 
        [(ngModel)]="user.passwordConfirmation"
        [ngClass]="{'is-invalid': passwordConfirmation.invalid && passwordConfirmation.touched, 'is-valid': passwordConfirmation.valid && passwordConfirmation.touched}"
        required />
        
    </div>

    <div *ngIf="password.invalid && password.touched" class="error-message error-container">
        <div *ngIf="password.errors?.['required']">Password is required.</div>
        <div *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']">
            - Password must be between 8 and 12 characters long.
        </div>
        <div *ngIf="password.errors?.['pattern']">
            - Password must include at least one special character.
        </div>
    </div>

    <div class="save-button">
        <button (click)="callEvent();" type="button" class="btn btn-primary d-flex align-items-center">
            <p class="mb-0">Update password</p>
        </button>
    </div>
    
</div>


