.form-container{
    padding: 25px;

    .password-title{
        margin-bottom: 25px;
    }

    .new-password-text{
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .input-container{
        display: flex;
        gap: 10px;
        margin-left: 10px;
        
        input{
            margin-top: 10px;
            width: 50%;
        }
    }

    .save-button{
        margin-top: 15px;
        margin-left: 10px;

        button{
            background-color: #7900C2;
            border: #7900C2;
        }
    }

    .error-container{
        
        margin-top: 15px;
        margin-left: 10px;
    }
}

